.apply-header {
  height: 40rem;
  background-image: linear-gradient(
      to right bottom,
      var(--color-accent),
      rgba(0, 38, 90, 0.5)
    ),
    url("/assets/images/pexels-pixabay-327540.jpg");

  background-size: cover;
  background-position: top;
  position: relative;

  clip-path: polygon(0 0, 100% 0, 100% 60%, 0 100%);
}

.brand-box {
  position: absolute;
  top: 40px;
  left: 40px;
}

.brand {
  font-size: var(--font-size-xl);
}

.text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;

  backface-visibility: hidden;
  margin-bottom: 5rem;
}

.heading-primary-main {
  display: block;
  font-size: var(--font-size-m);
  font-weight: 400;
  letter-spacing: 5px;
}

.heading-primary-sub {
  display: block;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 7.4px;
}
